*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/tareksaidee/marvel101/SECRET_KEYS.java
SECRET_KEYS.java
Marvel101/app/src/main/java/com/tareksaidee/marvel101/SECRET_KEYS.java
./app/src/main/java/com/tareksaidee/marvel101/SECRET_KEYS.java